<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Star Wars Heroes</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="vendor/bootstrap.min.css">
  <script src="vendor/angular.js"></script>
  <script src="vendor/angular-route.js"></script>
  <script src="src/app.js"></script>
  <script src="src/common/hero.js"></script>
  <script src="src/routes/detail/detail.js"></script>
  <script src="src/routes/list/list.js"></script>
</head>
<body ng-app="app">
  <div ng-view></div>
  <div ng-controller="AppController" class="container">
    <h1>{{ title }}</h1>
    <div>
      <!-- LIST GOES HERE: -->
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="hero in heroes">
          <div class="row">
            <h4 class="col-xs-6">{{ hero.name }}</h4>
            <div class="col-xs-6">
              <p>Power: {{ hero.power }}</p>
              <p>Light: {{ hero.light }}</p>
              <p>Affiliations: <span ng-repeat="affiliation in hero.affiliations">{{ affiliation }} </span></p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</body>
</html>